:root{
    --branco: #ffffff;
    --cinza: #474747;
    --roxo: rgb(54, 0, 109);
    --negro: #000000;
    --Evermelho: #390000;
    --mainfont: 'Inter';
}

*{
margin: 0;
padding: 0;
}

body{
    background-color: var(--negro);
    color: var(--branco);
    font-family: var(--mainfont);
    font-size: 16px;
    font-weight: 400;
}

h1{
    font-size: 30px;

}

.fromlogo{
    width: 323.93px;
    height: 139.925px;
}

.main{
    background-image: url("Jogos.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.butão{
    padding: 1em;
    text-decoration: none;
    color: var(--branco);
    border: 2px solid var(--Evermelho);
    border-radius: 5px;
    background-color: var(--Evermelho);
    display: block;
    font-family: var(--mainfont);
    margin-bottom: 1em;
}

.butão2{
    background-color: transparent;
    border: 2px solid var(--branco);
}

.aviso{
    font-size: 12px;
    color: var(--cinza);
}

.div1{
    margin: 0 6em;
}

.fromsof{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 10px;
}

h2{
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.maintitle{
    font-size: 30px;
    margin-top: 60px;
    font-weight: bolder;
    text-align: center;
}

.format{
    align-items: center;
    margin: 0 8em;
    display: flex;
}

.txt{
    text-align: center;
    margin-left: 2.5em;
    width: 1800px;
}

.recuo{
    text-indent: 2.5em;
}

hr{
    border-color: var(--cinza);
}

.butão:hover{ 
background-color: var(--Evermelho); 
transition: 0.5s;
opacity: 0.7;
}

.butão2:hover{ 
background-color: #39000085; 
transition: 0.5s;
opacity: 0.7;
}

.fim{
    margin-bottom: 60px;
}

.Choosenundead{
    margin-left: 2.5em;
}

.Tarnished{
    margin: 0 auto;
    margin-top: 60px;
    display: block;
}

.acessos{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 10px;
}

.Logo_Footer{
    width: 250px;
    height: 97px;
}

.FooterTxt{
    font-size: 12px;
    color: var(--cinza);
    text-align: right;
}
